p {border-width: thin;border-style: solid; height: 100px; width: 100px;text-align:
center;float: right;}
p.red {background-color: red;}
p.white {background-color: white;}
p.blue {background-color: blue;}